<div class="vacunas card-form w-full">
  <div class="flex items-center gap-2">
    <button type="button" class="head-card w-full flex items-center gap-2 t-h2 text-gray-600 font-bold"
            (click)="active.set(!active())">
      <div class="cursor-pointer {{active() ? 'rotate-0' : '-rotate-90'}}">
        <svg class="stroke-current" width="16" height="17" viewBox="0 0 16 17" fill="none"
             xmlns="http://www.w3.org/2000/svg">
          <path d="M13 6L8 11L3 6" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
      </div>
      <span>Vacunas</span>
    </button>
    @if (canSaveForm) {
      <button type="button" class="p-1 rounded-lg hover:bg-gray-200" (click)="deleteForm.emit()">
        <div>
          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M14.74 9.00003L14.394 18M9.606 18L9.26 9.00003M19.228 5.79003C19.57 5.84203 19.91 5.89703 20.25 5.95603M19.228 5.79003L18.16 19.673C18.1164 20.2383 17.8611 20.7662 17.445 21.1513C17.029 21.5364 16.4829 21.7502 15.916 21.75H8.084C7.5171 21.7502 6.97102 21.5364 6.55498 21.1513C6.13894 20.7662 5.88359 20.2383 5.84 19.673L4.772 5.79003M19.228 5.79003C18.0739 5.61555 16.9138 5.48313 15.75 5.39303M4.772 5.79003C4.43 5.84103 4.09 5.89603 3.75 5.95503M4.772 5.79003C5.92613 5.61555 7.08623 5.48313 8.25 5.39303M15.75 5.39303V4.47703C15.75 3.29703 14.84 2.31303 13.66 2.27603C12.5536 2.24067 11.4464 2.24067 10.34 2.27603C9.16 2.31303 8.25 3.29803 8.25 4.47703V5.39303M15.75 5.39303C13.2537 5.20011 10.7463 5.20011 8.25 5.39303"
              stroke="#CA1515" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
        </div>
      </button>
    }
  </div>

  @if (active()) {
    @if (canSaveForm) {
      <form [formGroup]="form" class="card-body w-full flex flex-col gap-4" (ngSubmit)="saveFormRecord()">
        <div class="grid grid-cols-1 md:grid-cols-3 lg:grid-cols-4 gap-4">
          <div class="i-field w-full">
            <label>Tipo de vacuna</label>
            <select formControlName="tipo_vacuna" class="cursor-pointer">
              <option value="">Seleccione una vacuna</option>
              @for (vaccine of typesVaccinesAvailable(); track vaccine.id) {
                <option [value]="vaccine.nombre">{{ vaccine.nombre }}</option>
              }
            </select>
          </div>
          <div class="i-field">
            <label>Fecha dosis</label>
            <input formControlName="fecha_dosis" type="date">
          </div>
          <div class="i-field">
            <label>Minsa</label>
            <app-toggle-switch [id]="'minsa'"
                               formControlName="minsa"
                               [trueValue]="true" [falseValue]="false"
            ></app-toggle-switch>
          </div>

          <div class="i-field">
            <label>Tipo de atención</label>
            <input formControlName="tipo_atencion" type="text">
          </div>

          <div class="i-field md:col-span-2">
            <label>Indicaciones</label>
            <textarea formControlName="indicaciones"></textarea>
          </div>

          <div class="i-field md:col-span-2">
            <label>Observaciones</label>
            <textarea formControlName="observaciones"></textarea>
          </div>
        </div>
        <div class="flex gap-4">
          <button type="submit"
                  class="cursor-pointer b-secondary h-10">
            <div>
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                   stroke="currentColor" class="size-5">
                <path stroke-linecap="round" stroke-linejoin="round"
                      d="M12 9v6m3-3H9m12 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"/>
              </svg>
            </div>
            <span>{{ isEdit() ? 'Actualizar' : 'Guardar' }}</span>
          </button>
          <button type="button" (click)="clearForm()"
                  class="cursor-pointer b-normal h-10">
            <span>Cancelar</span>
          </button>
        </div>
      </form>
    }

    <app-vaccines-list [vaccines]="vaccinesListCard()" [isModeCreation]="canSaveForm"
                       (editRecord)="onEditRecord($event)" (deleteRecord)="onDeleteRecord($event)"/>
  }
</div>


<ec-dialog [visible]="showModalVaccine()">

</ec-dialog>
<app-block-ui [show]="isBlockPage()"></app-block-ui>
