<form id="patientForm" [formGroup]="consultingForm" class="h-full w-full flex flex-col"
      (ngSubmit)="saveConsulting()">
  <div class="h-full flex flex-col overflow-y-auto p-8">
    <div class="flex flex-col gap-8">
      <div class="w-full h-full flex flex-col gap-8">
        <!--Información del paciente-->
        <app-basic-information-patient
          [infoPatientDni]="infoPatientDni"
          (patientFound)="patient.set($event)"
        />

        <div class="flex">
          <div class="i-field">
            <label>Fecha atención</label>
            <input type="datetime-local" [value]="attentionDate()" [disabled]="!canSaveForm"
                   (change)="changeAttentionDate($event)">
          </div>
        </div>

        <!--Datos del acompañante (opcional)-->
        <app-companion-form
          formControlName="datos_acompanante"
          [touched]="consultingForm.touched"
        />

        <!--Revisión de rutina-->
        <div class="flex flex-col gap-4">
          <button type="button" class="w-full flex items-center gap-2 t-h2 text-brand-2 font-bold">
            <div class="cursor-pointer">
              <svg width="16" height="17" viewBox="0 0 16 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M13 6L8 11L3 6" stroke="#1ABB9C" stroke-width="1.5" stroke-linecap="round"
                      stroke-linejoin="round"/>
              </svg>
            </div>
            <span>Revisión de rutina</span>
          </button>
          <app-routine-review-form
            [genero]="patient()?.sexo ?? 'M'"
            formControlName="revision_rutina"
            [touched]="consultingForm.touched"/>
        </div>
      </div>

      @if (patient()) {
        <!--Exámenes-->
        <div class="flex flex-col gap-4">
          <button type="button" class="w-full flex items-center gap-2 t-h2 text-brand-2 font-bold">
            <div class="cursor-pointer">
              <svg width="16" height="17" viewBox="0 0 16 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M13 6L8 11L3 6" stroke="#1ABB9C" stroke-width="1.5" stroke-linecap="round"
                      stroke-linejoin="round"/>
              </svg>
            </div>
            <span>Servicios</span>
          </button>
        </div>

        <div class="w-full flex flex-col gap-4">
          @if (canSaveForm) {
            <div class="actions w-full flex item-end gap-2">
              <div class="i-field w-full max-w-[160px]">
                <label>Tipo de servicio</label>
                <select #selectExam [disabled]="!patient()" class="{{patient()? 'cursor-pointer' : 'cursor-default'}}"
                        (change)="examSelected.set(selectExam.value)">
                  <option value="">Seleccione una servicio</option>
                  @for (typeExam of typesServices; track $index) {
                    <option [value]="typeExam">{{ typeExam | titlecase }}</option>
                  }
                </select>
              </div>
              <button type="button"
                      class="{{patient() && examSelected() ? 'cursor-pointer' : 'cursor-default'}} {{patient() && examSelected() ? 'b-secondary' : 'b-disabled'}} self-end h-10"
                      (click)="onAddExam(examSelected())">
                <div>
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                       stroke="currentColor" class="size-5">
                    <path stroke-linecap="round" stroke-linejoin="round"
                          d="M12 9v6m3-3H9m12 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"/>
                  </svg>
                </div>
                <span>Agregar servicio</span>
              </button>
            </div>
          }
          @for (exam of listExams; track exam) {

            @if (exam === 'consulta') {
              <app-integral-attention-form
                #formExams
                [dniPatient]="patient()?.dni!"
                [infoData]="infoConsultation?.examenes?.consulta_general"
                [infoMedicine]="$any(infoConsultation?.examenes?.consulta_medicina_general)"
                [infoDentistry]="$any(infoConsultation?.examenes?.consulta)"
                [touched]="consultingForm.touched"
                (deleteForm)="onDeleteExam('consulta')"
              />
            }

            @if (exam === 'vacunas') {
              <app-vaccines-form
                #formExams
                [infoPatientDni]="patient()!.dni"
                [infoData]="infoConsultation?.examenes?.vacunas"
                [touched]="consultingForm.touched"
                (deleteForm)="onDeleteExam('vacunas')"
              />
            }

            @if (exam === 'fisico') {
              <app-physical-exam-form
                #formExams
                [infoData]="infoConsultation?.examenes?.examen_fisico"
                [touched]="consultingForm.touched"
                (deleteForm)="onDeleteExam('fisico')"
              />
            }

            @if (exam === 'visual') {
              <app-visual-exam-form
                #formExams
                [infoData]="infoConsultation?.examenes?.examen_visual"
                [touched]="consultingForm.touched"
                (deleteForm)="onDeleteExam('visual')"
              />
            }

            @if (exam === 'preferencial') {
              <app-preferential-exam-form
                #formExams
                [infoData]="infoConsultation?.examenes?.examen_preferencial"
                [touched]="consultingForm.touched"
                (deleteForm)="onDeleteExam('preferencial')"
              />
            }

            @if (exam === 'laboratorio') {
              <app-laboratory-exam-form
                #formExams
                [infoData]="infoConsultation?.examenes?.examen_laboratorio"
                [touched]="consultingForm.touched"
                (deleteForm)="onDeleteExam('laboratorio')"
              />
            }

            @if (exam === 'sexualidad') {
              <app-sexuality-exam-form
                #formExams
                [infoData]="infoConsultation?.examenes?.examen_sexualidad"
                [touched]="consultingForm.touched"
                (deleteForm)="onDeleteExam('sexualidad')"
              />
            }

            @if (exam === 'tratamientos') {
              <app-drug-treatments
                #formExams
                [infoData]="infoConsultation?.examenes?.tratamiento_medicamentoso"
                [touched]="consultingForm.touched"
                (deleteForm)="onDeleteExam('tratamientos')"
              />
            }

            @if (exam === 'procedimientos') {
              <app-procedures-performed
                #formExams
                [dniPatient]="patient()?.dni"
                [infoData]="infoConsultation?.examenes?.procedimiento_realizado"
                [touched]="consultingForm.touched"
                (deleteForm)="onDeleteExam('procedimientos')"
              />
            }
          }

        </div>
      }
    </div>
  </div>

  @if (canCreate) {
    <div class="justify-end items-center gap-4 flex px-8 py-4 border-t rounded-b-lg border-gray-200 w-full">
      <button type="button" (click)="cancel.emit()" class="b-normal">
        Cancelar
      </button>
      <button type="submit" class="b-primary">
        Guardar
      </button>
    </div>
  } @else if (canUpdate) {
    <div class="justify-end items-center gap-4 flex px-8 py-4 border-t rounded-b-lg border-gray-200 w-full">
      <button type="button" (click)="cancel.emit()" class="b-normal">
        Cancelar
      </button>
      <button type="submit" class="b-primary">
        Guardar
      </button>
    </div>
  } @else if (canViewForm) {
    <div class="justify-end items-center gap-4 flex px-8 py-4 border-t rounded-b-lg border-gray-200 w-full">
      <button type="button" (click)="cancel.emit()" class="b-normal">
        Salir
      </button>
    </div>
  }
</form>
