<ec-dialog [visible]="true" [style]="{width: '90%', height: '80vh'}">
  <ng-template ecTemplate="header">
    <div class="w-full px-4 py-2 bg-brand text-center text-white sticky top-0 z-10 rounded-t-lg">
      <div class="t-h2 font-bold">Actualización de atenciones</div>
    </div>
  </ng-template>

  <app-nursing-consultations-form
    [infoPatientDni]="infoPatientDni()"
    [infoConsultation]="infoConsultation()"
    (save)="onEditConsultation($event)"
    (cancel)="onCancelEdit()"/>
</ec-dialog>

<app-block-ui [show]="isBlockPage()"></app-block-ui>
