<ec-table class="w-full" [dataSource]="patientRecord().consultas">

  <ng-template ecTemplate="header">
    <tr>
      <th>{{ 'N°' }}</th>
      <th>{{ 'DNI' }}</th>
      <th>{{ 'Apellidos' }}</th>
      <th>{{ 'Nombres' }}</th>
      <th>{{ 'Tipo de paciente' }}</th>
      <th>{{ 'Fecha consulta' }}</th>
      <th>{{ 'Servicios' }}</th>
      <th>{{ 'Area asignada' }}</th>
      <th>{{ 'Opciones' }}</th>
    </tr>
  </ng-template>

  <ng-template ecTemplate="body" let-item let-index="index">
    <tr>
      <td>{{ index + 1 }}</td>
      <td>{{ patientRecord().paciente.dni }}</td>
      <td>{{ patientRecord().paciente.apellidos }}</td>
      <td>{{ patientRecord().paciente.nombres }}</td>
      <td>{{ patientRecord().paciente.tipo_persona }}</td>
      <td>{{ item.fecha_consulta }}</td>
      <td>{{ item.servicios }}</td>
      <td>{{ item.area_asignada | titlecase }}</td>
      <td class="flex gap-4">
        <button (click)="onShowAssignModal(item)"
                [disabled]="item.area_origen === 'odontología' || item.area_asignada !== 'odontología'">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
               [style]="{fill: item.area_origen === 'odontología' || item.area_asignada !== 'odontología' ? '#154eca5c' : '#154ECA'}">
            <path
              d="M19.924 10.383a1 1 0 0 0-.217-1.09l-5-5-1.414 1.414L16.586 9H4v2h15a1 1 0 0 0 .924-.617zM4.076 13.617a1 1 0 0 0 .217 1.09l5 5 1.414-1.414L7.414 15H20v-2H5a.999.999 0 0 0-.924.617z"></path>
          </svg>
        </button>
        @if (item.area_origen === 'odontología') {
          <button (click)="onEditConsulting(item)" type="button">
            <svg width="24" height="24"
                 class="{{item.area_asignada === 'odontología' ? 'text-brand' : 'text-[#0f75bc80]'}}"
                 fill="currentColor"
                 viewBox="0 0 24 24" id="injected-svg">
              <path d="M12 9a3 3 0 1 0 0 6 3 3 0 1 0 0-6"></path>
              <path
                d="M12 19c7.63 0 9.93-6.62 9.95-6.68.07-.21.07-.43 0-.63-.02-.07-2.32-6.68-9.95-6.68s-9.93 6.61-9.95 6.67c-.07.21-.07.43 0 .63.02.07 2.32 6.68 9.95 6.68Zm0-12c5.35 0 7.42 3.85 7.93 5-.5 1.16-2.58 5-7.93 5s-7.42-3.84-7.93-5c.5-1.16 2.58-5 7.93-5">
              </path>
            </svg>
          </button>
        } @else {
          <button (click)="onEditConsulting(item)" type="button" [disabled]="item.area_asignada !== 'odontología'">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M16.862 4.487L18.549 2.799C18.9007 2.44733 19.3777 2.24976 19.875 2.24976C20.3723 2.24976 20.8493 2.44733 21.201 2.799C21.5527 3.15068 21.7502 3.62766 21.7502 4.125C21.7502 4.62235 21.5527 5.09933 21.201 5.451L10.582 16.07C10.0533 16.5984 9.40137 16.9867 8.685 17.2L6 18L6.8 15.315C7.01328 14.5986 7.40163 13.9467 7.93 13.418L16.862 4.487ZM16.862 4.487L19.5 7.125M18 14V18.75C18 19.3467 17.7629 19.919 17.341 20.341C16.919 20.763 16.3467 21 15.75 21H5.25C4.65326 21 4.08097 20.763 3.65901 20.341C3.23705 19.919 3 19.3467 3 18.75V8.25C3 7.65327 3.23705 7.08097 3.65901 6.65901C4.08097 6.23706 4.65326 6 5.25 6H10"
                [style]="{stroke: item.area_asignada === 'odontología' ? '#154ECA' : '#154eca5c'}" stroke-width="1.5"
                stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
          </button>
        }
        <button (click)="onShowModalConfirmDelete(item.id)" type="button" [disabled]="item.area_origen !== 'odontología'">
          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M14.74 8.99997L14.394 18M9.606 18L9.26 8.99997M19.228 5.78997C19.57 5.84197 19.91 5.89697 20.25 5.95597M19.228 5.78997L18.16 19.673C18.1164 20.2382 17.8611 20.7661 17.445 21.1512C17.029 21.5363 16.4829 21.7501 15.916 21.75H8.084C7.5171 21.7501 6.97102 21.5363 6.55498 21.1512C6.13894 20.7661 5.88359 20.2382 5.84 19.673L4.772 5.78997M19.228 5.78997C18.0739 5.61549 16.9138 5.48307 15.75 5.39297M4.772 5.78997C4.43 5.84097 4.09 5.89597 3.75 5.95497M4.772 5.78997C5.92613 5.61549 7.08623 5.48307 8.25 5.39297M15.75 5.39297V4.47697C15.75 3.29697 14.84 2.31297 13.66 2.27597C12.5536 2.24061 11.4464 2.24061 10.34 2.27597C9.16 2.31297 8.25 3.29797 8.25 4.47697V5.39297M15.75 5.39297C13.2537 5.20005 10.7463 5.20005 8.25 5.39297"
              [style]="{stroke: item.area_origen === 'odontología' ? '#CA1515' : '#ca15155c'}" stroke-width="1.5"
              stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
        </button>
      </td>
    </tr>
  </ng-template>
</ec-table>

<app-block-ui [show]="isBlockPage()"></app-block-ui>
<app-modal [show]="showListAreas()" [showFooter]="false" title="Asignación de área" (showChange)="onCancelAssignmentArea()">
  <div class="flex flex-col justify-center items-center gap-6">
    <div class="obu-input-field cursor-pointer">
      <label>Asignar área</label>

      <select #assignArea
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
        <option value="" selected disabled>Seleccione área</option>
        <option value="enfermería">Enfermería</option>
      </select>
    </div>
    <div class="w-full">
      <div class="flex justify-center items-center gap-4">
        <button (click)="onUpdateAssignedArea(assignArea.value)"
                class="flex items-center justify-center w-1/2 px-5 py-2 text-sm text-gray-700 capitalize transition-colors duration-200 bg-white border rounded-md sm:w-auto gap-x-2 hover:bg-gray-100">
          Asignar
        </button>
      </div>
    </div>
  </div>
</app-modal>

<app-modal [show]="showConfirmDelete().show" [showHeader]="false" buttonSuccess="Aceptar" [showButtonCancel]="true"
           (onNext)="onConfirmDelete()" (showChange)="onCancelDelete()">
  <div class="flex items-center justify-center">
    <svg xmlns="http://www.w3.org/2000/svg" class="w-28 h-28 text-amber-300" viewBox="0 0 512 512">
      <path d="M448 256c0-106-86-192-192-192S64 150 64 256s86 192 192 192 192-86 192-192z" fill="none"
            stroke="currentColor" stroke-miterlimit="10" stroke-width="32"/>
      <path d="M250.26 166.05L256 288l5.73-121.95a5.74 5.74 0 00-5.79-6h0a5.74 5.74 0 00-5.68 6z" fill="none"
            stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="32"/>
      <path d="M256 367.91a20 20 0 1120-20 20 20 0 01-20 20z" stroke="currentColor" class="fill-amber-300"/>
    </svg>
  </div>
  <div class="flex justify-center items-center text-slate-500 font-bold text-xl">
    <span>¿Esta seguro de eliminar esta consulta?</span>
  </div>
  <div class="text-slate-500 text-sm">
    <span>¡Si realiza esta acción, la consulta será eliminada permanentemente y no podrá ser recuperada!</span>
  </div>
</app-modal>
